#prof-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

#main-img {
    width: 400px;
    height: 500px;
}

#heart-img {
    width: 24px;
    height: auto;
}

#message-img {
    width: 22px;
    height: auto;
}

#share-img {
    width: 22px;
    height: auto;
}

#mark-img {
    width: 18px;
    height: auto;
}